<div id="invitation">Invite your friends! Share the url of this page http://opentok-videoparty.heroku.com/party/<%= @room.id %></div>
<div id="videobox">

</div>
<script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script>
<script type="text/javascript">
	var apiKey = 28878252;
	var sessionId = "<%= @room.sessionId %>";
	var token = "<%= @tok_token %>";

	var session;

	TB.addEventListener('exception', exceptionHandler);
	session = TB.initSession(sessionId);

	//Video chat event listeners
	session.addEventListener('sessionConnected', sessionConnectedHandler);
	session.addEventListener('streamCreated', streamCreatedHandler);
    session.addEventListener('streamDestroyed', streamDestroyedHandler);

	session.connect(apiKey, token);
</script>

 <!--
<script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script>
<div id="myPublisherDiv"></div>
        <script type="text/javascript">
          // Initialize API key, session, and token...
          // Think of a session as a room, and a token as the key to get in to the room
          // Sessions and tokens are generated on your server and passed down to the client
          var apiKey = "28873032";
          var sessionId = "<%= @room.sessionId %>";
          var token = "<%= @tok_token %>";

          // Initialize session, set up event listeners, and connect
          var session = TB.initSession(sessionId);
          session.addEventListener('sessionConnected', sessionConnectedHandler);
          session.connect(apiKey, token);

          function sessionConnectedHandler(event) {
            var publisher = TB.initPublisher(apiKey, 'myPublisherDiv');
            session.publish(publisher);
          }
        </script>
-->